body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding-left: 0px;
}

a {
    text-decoration: none;
}

.header {
    background-color: #FF5A00;
    padding: 20px 0;
}

.header-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    color: #fff;
}

a.logo {
    color: #fff;
    font-size: 2.25em;
    font-weight: 300;
}

.language {
    color: #fff;
    position: relative;
    width: 120px;
    margin-left: 40px;
    font-weight: bold;

}

.language-selected {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;

}

.language-selected::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("https://flagsapi.com/BR/flat/64.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;

}

/*JQuery Class*/
.language-selected.change-BR::before {
    background-image: url("https://flagsapi.com/BR/flat/64.png");

}
.language-selected.change-EN::before {
    background-image: url("https://flagsapi.com/US/flat/64.png");

}
.language-selected.change-ES::before {
    background-image: url("https://flagsapi.com/ES/flat/64.png");

}

.language ul {
    position: absolute;
    width: 140px;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    padding-top: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    display: none;
}

.language ul li {
    list-style: none;
}

.language ul li a {
    display: block;
    color: #252525;
    padding-top: 5px 10px;
}

.language ul li:hover {
    background-color: #f8f8f8;
}

.language ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}

a.br:before {
    background-image: url("https://flagsapi.com/BR/flat/64.png");
}

a.en:before {
    background-image: url("https://flagsapi.com/US/flat/64.png");
}

a.es:before {
    background-image: url("https://flagsapi.com/ES/flat/64.png");
}

.language:hover ul {
    display: block;
}

/*Section*/
.section {
    text-align: center;
    padding: 60px 0;
}

.section h1 {
    font-size: 2em;
    margin-bottom: 32px;
}

.section p {
    color: #252525; 
    
}